PUBLIC_URL_PATH=
UPLOAD_MAX_BYTES=15728640
SESSION_NAME=dekal_turo_sess
REMEMBER_ME_COOKIE=dekal_turo_remember
REMEMBER_ME_LIFETIME_SECONDS=1209600
MAGIC_LINK_LIFETIME_SECONDS=1200

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SECURE=tls
SMTP_FROM_EMAIL=noreply@example.com
SMTP_FROM_NAME=Turo-dekal
